<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
	</head>

  <body>
    <%= yield %>
  </body>
</html>
